# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^catalog/?$ catalog.php [L,QSA]
RewriteRule ^catalog/([0-9]+)/?$ catalog.php?categ_id=$1 [L,QSA]
RewriteRule ^catalog/([0-9]+)/([0-9]+)/?$ catalog.php?categ_id=$1&product=$2 [L,QSA]


RewriteRule ^contact/?$ contact.php [L,QSA]
RewriteRule ^index/?$ index.php [L,QSA]
RewriteRule ^sale/?$ sale.php [L,QSA]
RewriteRule ^about/?$ about.php [L,QSA]

RewriteRule ^admin/?$ admin/index.php [L,QSA]
RewriteRule ^admin/groups/?$ admin/groups.php [L,QSA]
RewriteRule ^admin/managers/?$ admin/managers.php [L,QSA]
RewriteRule ^logout/?$ includes/logout.php [L,QSA]

RewriteRule ^search/?$ search.php [L,QSA]


RewriteRule ^error/([0-9]+)/?$ error.php?error=$1 [L,QSA]

RewriteRule ^admin/([0-9]+)/?$ admin/index.php?categ_id=$1 [L,QSA]
RewriteRule ^admin/([0-9]+)/([0-9]+)/?$ admin/index.php?categ_id=$1&product=$2 [L,QSA]



RewriteRule ^admin/groups/([0-9]+)/?$ admin/groups.php?categ_id=$1 [L,QSA]

